<link rel="stylesheet" href="{{url_for('static',filename='stylesheet.css')}}">

{% extends "layout.html" %}
{% block body%}
<h5>投稿一覧</h5>
<p><a class="regist_post" href={{url_for('regist_post')}}>新規投稿</a></p>
<!- 日付指定フォーム ->
<form action="{{url_for('show')}}" method="get">
    <input type="date" name="startDate" value="{{startDate}}"/>〜<input type="date" name="endDate" value="{{endDate}}"/>
    <button type="submit" class="btn btn-primary">日付指定</button>
</form>

<table border="1">
<tr bgcolor="#f0f8ff" align="center">
    <th>投稿内容</th>
    <th>投稿日時</th>
</tr>

<!- 取得したSQLクエリ分、行作成する ->
{% for post in posts %}
<tr align="center">
    <th>{{post.post_text}}</th>
    <!-秒以下を切り捨て->
    <th>{{post.post_date.strftime("%Y/%m/%d %H:%M")}}</th>
</tr>
{% endfor %}
</table>
{% endblock %}
