<link rel="stylesheet" href="{{url_for('static',filename='stylesheet.css')}}">

{% extends "layout.html" %}
{% block body%}
<h5>投稿一覧</h5>
<p><a class="regist_post" href={{url_for('regist_post')}}>新規投稿</a></p>
<!- 日付指定フォーム ->
<form action="{{url_for('show')}}" method="get">
    <input type="date" name="startDate" value="{{startDate}}"/>〜<input type="date" name="endDate" value="{{endDate}}"/>
    <button type="submit" class="btn btn-primary">日付指定</button>
</form>

<table>
<tr bgcolor="#f0f8ff" align="center">
    <th class="need_border">画像</th>
    <th class="need_border">投稿内容</th>
    <th class="need_border">投稿日時</th>
</tr>

<!- 取得したSQLクエリ分、行作成する ->
{% for post in posts %}
<tr align="center">
    {% if post.img_url != None %}
    <td class="need_border"><img src="../static/{{post.img_url}}" width="100%">{{post.img_url}}</td>
    {% else %}
    <td class="need_border">-</td>
    {% endif %}
    <td class="need_border">{{post.post_text}}</td>
    <!-秒以下を切り捨て->
    <td class="need_border">{{post.post_date.strftime("%Y/%m/%d %H:%M")}}</td>
    <td class="not_need_border"><a href={{url_for('edit_post', post_id=post.post_id)}}>編集</a></td>
</tr>
{% endfor %}
</table>
{% endblock %}
