<link rel=stylesheet href="{{url_for('static',filename='stylesheet.css')}}">

{% extends "layout.html" %}
{% block body%}
<div>
    <p>投稿一覧</p>
</div>
<table border="1">
<tr bgcolor="#f0f8ff" align="center">
    <th>投稿内容</th>
    <th>投稿日時</th>
    <th>エンゲ率</th>
    <th>インプ</th>
    <th>リーチ</th>
    <th>いいね</th>
    <th>コメント</th>
    <th>保存数</th>
    <th>動画再生</th>
</tr>
{% for post in posts %}
<tr align="center">
    <th>{{post.post_text}}</th>
    <!-秒以下を切り捨て->
    <th>{{post.post_date.strftime("%Y/%m/%d %H:%M")}}</th>
    <th>{{post.eng_rate}}%</th>
    <th>{{post.imp}}</th>
    <th>{{post.reach}}</th>
    <th>{{post.good}}</th>
    <th>{{post.comment}}</th>
    <th>{{post.save_cnt}}</th>
    <th>{{post.play_cnt}}</th>
</tr>
{% endfor %}
</table>

{% endblock %}
